@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
}

.btn{
    padding: 8px 24px;
    background: #FEAB21;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height:  24px;
    a{
        color: #FFFFFF;
    }
}

.btn-lite{
    padding: 8px 24px;
    background: none;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    a{
        color: #FEAB21;
    }
}


.header{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 32px 7.5%;
    justify-content: space-between;
    z-index: 1;

    &__container{
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }

    &__logo{
        padding-right: 40px;
    }

    &__btn{
        .header__btn-item+.header__btn-item{
            margin-left: 8px;
        }

    }
}

.navbar{

    .navbar__link+.navbar__link{
        padding-left: 45px;
    }

    &__link{
        display: inline;
/*         padding: 0 24px; */
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        & a{
            color: rgba(255, 255, 255, 0.72);
        }
    }
}

.hero{
    padding: 104px 7.5% 0 7.5%;
    height: 100vh;
    background: url(../img/BG-hero-export.SVG) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__item{

        margin-right: 34px;

        &-title{
            margin-left: 7px;
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 72px;
            color: #FFFFFF;
            padding-bottom: 24px;
        }

        &-text{
            margin-left: 7px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: rgba(255, 255, 255, 0.72);
            padding-bottom: 48px;
        }
        
    }
    

    &__btn-item{
        padding: 14px 32px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
    }

    
    &__btn-img{
        margin-right: 8px;
        margin-top: 3px;
        padding: 0 5px;
    }

}

.about{
    min-height: 956px;
    display: flex;
    align-items: center;
    padding: 32px 7.5%;
    justify-content: space-between;

    &__content{
        width: 588px;

        &-subtitle{
            font-family: 'Poppins';
            letter-spacing: 1px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FEAB21;

        }

        &-title{
            margin-top: 8px;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            color: #121127;
        }

        &-text{
            margin-top: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #4C4B63;
        }
    }

    
    &__btn-item{
        margin-top: 32px;
        padding: 14px 32px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
    }

    
    &__btn-img{
        margin-left: 8px;
        margin-top: 3px;
        padding: 5px 0;
    }

    &__box_container{
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content-box{
        max-width: 264px;

        &_img{
            width: 32px;
            height: 32px;
        }

        &_title{
            margin-top: 24px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #121127;
        }

        &_text{
            margin-top: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: #4C4B63;
        }

        &-item{
            padding: 24px 0 0 0;
        }

        &-link{
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
        }

        &-img{
            margin: 2px 0 2px 8px;
        }
    }

    &__images{

        &-img{
            padding: 0 75px 0 99px;
        }

        &-elipse{
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #FFD89F;

            &_one{
                margin-top: 304px; 
            }
    
            &_two{
                margin-top: 607px;
                right: 7.5%;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: #FEAB21;
            }
        }
    }
    

}

.How-it-works{
    min-height: 739px;
    background: url(../img/BG-export.svg) no-repeat center;
    background-size: cover;
    padding: 20px 7.5% 20px 7.5%;
    display: flex;
    align-items: center;

    &__container{
        width: 100%;
    }

    &__subtitle{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        letter-spacing: 1px;
    }

    &__title{
        margin-top: 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        color: #FFFFFF;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px,1fr));
    gap: 24px;

    .grid-container{
        position: relative;
        margin-top: 40px;
        background: linear-gradient(143.21deg, #FFFFFF 6.24%, #FFECC6 148.73%);
        box-shadow: 0px 10.2404px 40.9615px -10.2404px rgba(134, 58, 17, 0.3);
        border-radius: 12px;
        padding: 56px 32px;

        &__icon{
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__number{
            position: absolute;
            top: 16px;
            right: 16px;
            font-style: normal;
            font-weight: 700;
            font-size: 128px;
            line-height: 128px;
            color: #FFE7C7;
        } 

        &__title{
            margin-top: 24px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #121127;
        }

        &__text{
            margin-top: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: #4C4B63;
        }

        &__icon-img{
            width: 32px;
            height: 32px;
        }
    }
}